@using MyEverNote.WEBUI
@model IEnumerable<MyEverNote.Entities.Category>

@{
    ViewBag.Title = "Kategoriler";
}



<div class="row">

    <div class="col-md-10 col-md-offset-1">
        <h2>Kategoriler</h2>
        <hr />
    </div>

</div>
    <div class="row">


        <div class="col-md-10 col-md-offset-1">


            <p>
              

                <a href="/Categories/Create" class="btn btn-success">
                    Yeni Kategori
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedUsername)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedUsername)
                        </td>
                        <td>

                            @Bootsrap.LinkButton("/Categories/Edit/"+item.Id, string.Empty, "warning", "btn-xs", "Düzenle", "edit")
                            @Bootsrap.LinkButton("/Categories/Details/"+item.Id, string.Empty, "info", "btn-xs", "Detaylar", "list")
                            @Bootsrap.LinkButton("/Categories/Delete/"+item.Id, string.Empty, "danger", "btn-xs", "Sil", "trash")
                           
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>
