@using MyEverNote.WEBUI.Models
@using MyEverNote.Entities
@model IEnumerable<MyEverNote.Entities.Note>

@{
    ViewBag.Title = "Index";
}

@{

    EverNoteUser user = CurrentSession.CurrentUser;
}
<div class="container">
    <div class="row">
        <!--KAtegoriler-->
        <div class="col-md-3">

            @Html.Partial("_PartialCategories");
        </div>








        <div class="col-md-9">
            <!--Slider-->
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">

                                <img class="slide-image" src="~/Images/res1.jpg" alt="" />

                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/Images/res2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/Images/res9.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <!-- Yazılar-->
            @foreach (Note note in Model)
            {

                <div class="col-md-6">

                    <article class="card mb-4">
                        <header class="card-header">
                            <div class="card-meta">
                                <a href="#"><time class="timeago" datetime="2017-10-15 20:00">15 october 2017</time></a> in <a href="page-category.html">Lifestyle</a>
                            </div>
                            <a href="post-image.html">
                                <h4 class="card-title">@note.Title</h4>
                            </a>
                        </header>
                        <a href="post-image.html">
                            <img class="card-img" src="~/Images/res1.jpg" alt="" />
                        </a>
                        <div class="card-body">
                            <p class="card-text">@note.Text </p>
                        </div>
                    </article><!-- /.card -->


                </div>
            }
           


            @*<div class="row">*@


                @*@foreach (Note note in Model)
                {

                    <div class="col-sm-4 col-lg-4 col-md-4" data-note-id="@note.Id">
                        <div class="thumbnail">
                            <img src="~/Images/res5.jpg" alt="@note.Title" />


                            <div class="caption text-black-50 text-decoration-none">
                                <h4>
                                    <a class="modal_renk" data-toggle="modal" data-target="#modal_NoteText" data-note-id="@note.Id">
                                        @note.Title
                                    </a>
                                </h4>
                                <p>

                                    @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 100)
                                    {
                                    <p> @(note.Text.Substring(0, 100) + ".....")</p>
                                    <p class="pull-right">
                                        <button class="btn btn-success " data-toggle="modal" data-target="#modal_NoteText" data-note-id="@note.Id"><span class="glyphicon glyphicon-chevron-right"></span>Devamı </button>
                                    </p>
                                }
                                else
                                {
                                    @note.Text
                                }
                                    </p>
                                    <h6>
                                        <span class="glyphicon glyphicon-time ">
                                            @note.ModifiedOn.ToString("dd.MM.yy" +
                                           "HH")
                                        </span><br />
                                        <span class="glyphicon glyphicon-user "></span>@note.Owner.UserName
                                    </h6>
                                    <p></p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">
                                        <button class="btn btn-info" value="" data-toggle="modal" data-target="#modal_comment" data-note-id="@note.Id">
                                            <span class="glyphicon glyphicon-comment"> </span> Yorumlar  <span class=" badge badge-pill badge-warning">@note.Comments.Count </span>

                                        </button>
                                    </p>

                                    <p>
                                        @if (user != null)
                                        {
                                            <button class="btn btn-default" data-liked="false" data-note-id="@note.Id">
                                                <span class="glyphicon glyphicon-star-empty like-star"></span>&nbsp; <span class="like-count">@note.LikeCount </span>
                                            </button>
                                        }

                                      


                                    </p>
                                </div>
                            </div>
                        </div>
                    }*@


            @*</div>*@
        </div>
    </div>
</div>


@Bootsrap.Model(id: "modal_comment", title: "Yorumlar")
@Bootsrap.Model(id: "modal_NoteText", title: "Note İçeriği")


<script src="~/Scripts/Comment.js"></script>
<script src="~/Scripts/Liked.js"></script>
<script src="~/Scripts/Note.js"></script>